@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  /* background: #efefef; */
  color: #000;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.header {
  background: #fff;
  margin-top: 2rem;
}
.header__top {
  padding: 2rem;
}
.header__form {
  padding: 0 2rem 2rem 2rem;
}

